*.xap
*.user
*.suo
*.docstates
obj/
_ReSharper*/

*.Cache
Thumbs.db
*cache.dat

*.ide
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr

*.zip
*.7z

